<!-- templates/base.html -->
<!-- blog/templates/blog/base.html -->
{% load static %}
<html>
    <head>
        <title>Blog</title>
        <link rel="stylesheet" href="{% static 'quotes.css' %}">
    </head>
    <body>
        <header>
            <h1>Blog</h1>
            <nav>
                <ul>
                    <!-- These URLs are good for everybody-->
                    <li><a href="{% url 'show_all_articles' %}">Show All</a></li>
                    <li><a href="{% url 'random' %}">Random</a></li>

                    <!--Some URLs are only good if you are logged in-->
                    {% if request.user.is_authenticated %}
                        <li><a href="/blog/article/1">Article 1</a></li>
                        <li><a href="/blog/article/2">Article 2</a></li>
                        <li><a href="/blog/article/3">Article 3</a></li>
                        <li><a href="{% url 'create_article' %}">Create Article </a></li>
                        <form action="{% url 'logout' %}" method="POST">
                            {% csrf_token %}
                            <input type="submit" value="Logout">
                        </form>
                        <!-- <li><a href="{% url 'logout' %}">Log out</a></li> -->
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                    {% endif %}
                </ul>
                <p>
                    {% if request.user.is_authenticated %}
                    Logged in user: {{ request.user }}.
                    {% else %}
                    Not logged in.
                    {% endif %}
                </p>
            </nav>
        </header>
    
    {% block content %}
    {% endblock %}    
  
    </body>
</html>