<!-- mini_fb/templates/mini_fb/base.html -->
{% load static %}
<html>
    <head>
        <title>LOTR Mini Facebook!</title>
        <link rel="stylesheet" href="{% static 'mini_fb.css' %}">
    </head>
    <body>
        <header>
            <h1>LOTR Mini Facebook</h1>
        </header>
        <nav>
            <ul>
                <li><a href="{% url 'show_all' %}">All Profiles</a></li>
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'show_profile' pk=user.profile_set.first.pk %}">My Profile!</a></li>
                <form action="{% url 'FBlogout' %}" method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Logout">
                </form>
                {% else %}
                <li><a href="../../..">Home</a></li>
                <li><a href="{% url 'show_all' %}">Profiles</a></li>
                <li><a href="{% url 'createProfile' %}">Create a Profile</a></li>
                <li><a href="{% url 'FBlogin' %}">Login</a></li>
                {% endif %}
            </ul>
            <p>
                {% if request.user.is_authenticated %}
                    Logged in user: {{ request.user }}.
                {% else %}
                    Not logged in.
                {% endif %}
            </p>
        </nav>
        <main>
            {% block content %}
            {% endblock %}  
        </main>  
        <footer>
            <p>all characters are from the film: Lord of the Rings</p>
        </footer>
    </body>
</html>