<!-- mini_fb/templates/mini_fb/friend_suggestions.html -->
{% extends 'mini_fb/base.html' %}
{% block content %}
    <h1>Friend Suggestions for {{ profile.firstName }} {{ profile.lastName }}</h1>

    <table>
        {% for s in suggestions %}
            <tr>
                <td> {{ s.firstName }} {{ s.lastName }} </td>
                <td> <a href="{% url 'create_friend' s.pk %}">Add Friend</a> </td>
            </tr>
        {% endfor %}
    </table>

    <a href="{% url 'show_profile' profile.pk %}">Back to Profile</a>

{% endblock content %}