<!-- mini_fb/templates/mini_fb/login.html -->
{% extends 'blog/base.html' %}

{% block content %}
<!-- This basic authentication form works. We need to set "next" to redirect to correct page.-->
    <h1>Login</h1>
    <form method="post" action="{% url 'FBlogin' %}" >
        {% csrf_token %}
        {{form}}
        <input type="submit" name="submit" value="Login">
        {% if request.GET.next %}
        <input type="hidden" name="next" value="{{request.GET.next}}">
        {% else %}
        <input type="hidden" name="next" value="{% url 'show_all' %}">
        {% endif %}+
    </form>

    <hr>
    Don't have an account? <a href="{% url 'register' %}">Register here</a>.
{% endblock %}