<!-- mini_fb/templates/mini_fb/news_feed.html -->
{% extends 'mini_fb/base.html' %}
{% block content %}
    <h1>News Feed for {{ profile.firstName }} {{ profile.lastName }}</h1>

    <div>
        {% for m in news_feed %}
            <div class="status-message">
                <img src="{{ m.profile.profileImageURL }}" alt="{{ m.profile.firstName }}'s profile image" width="50">
                <strong>{{ m.profile.firstName }} {{ m.profile.lastName }}</strong>
                <p>{{ m.message }}</p>
                <small>Posted on: {{ m.timestamp }}</small>
                <hr>
            </div>
        {% endfor %}
    </div>

    <a href="{% url 'show_profile' profile.pk %}">Back to Profile</a>

{% endblock content %}